body{
       background: black;
}
p{            text-align: center;
		color: white;
              
}

h1{    text-align: center;
       color: white;
}
title{
       color:white;
}
h3{    text-align: center;
       color:white;
}
h2{    text-align: center;
       color:white;
}
footer{
       text-align: center;
       color:white;
       }
h4{
       color:white;
}